html,
body {
height: 100%;
width: 100%;
}

html {
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal 
	font-weight: normal;
	color : #213036;
}

button {
cursor: pointer;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

ul,
li {
list-style: none;
}

:focus {
outline: 0;
}

/* Text */
h1,
h2,
h3,
h4 {
font-weight: bold;
font-style: normal;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;
}
}


a:hover {
color: #313131;
}

.white {
    color: #ffffff;
}
/* blocks */

.cleaner{ clear: both }

.clearfix::after {
content: "";
display: table;
clear: both;
}

.left {float: left;}
.right {float: right;}
.block {display: block;}
.none {display: none;}

.bold {
    font-weight: bold;
}

header, main, footer {
    width: 1920px;
    margin: 0 auto;
}

/******************************/
/*           header           */
/******************************/

/* head */

.bg {
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	z-index: -1;
	opacity: 0.4;
}

#video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto; 
}

a {
	color: white;
}

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }

.head {
	width: 100%;
	height: 60px;
	padding-top: 55px;
}

.container {
	display: flex;
	height: 100%;
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 100vh;
	color: white;
}

.logo {
	font-weight: bold;
	font-size: 18px;
}

.head .container {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	width: 50%;
}

.nav {
	background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav:hover {
	background-size: 100% 2px;
	color:  #fcac45;
}

.topnav {
	font-size: 18px;
	align-items: center;
	justify-content: space-around;
	display: flex;
	width: 100%;
}

.head__contacts {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.head__contacts a {
	transition: color .2s linear;
}

.head__contacts a:hover {
	color:  #fcac45;	
}

.address {
	padding-top: 5px;
}

.logo,
nav,
.head__contacts {
	display: flex;
	justify-content: space-between;
}


.info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 100%;
    height: 100%;
}

@keyframes BackgroundLeft {
  from {
  	margin-left: -880px;
  }
  40% {
  	margin-left: 0px;
  }
  60% {
  	margin-left: 0px;
  }
  to {
  	margin-left: 880px;
  }
}

.animate_line {
	display: block;
    position: absolute;
    z-index: 1;
    width: 880px;
    height: 130px;
    margin-left: 880px;
    background-color: #fcac45;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-name: BackgroundLeft;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes CaptionLeft {
  from {
  	margin-left: -880px;
  }
  70% {
  	margin-left: -880px;
  }
  to {
  	margin-left: 0px;
  }
}

.text {
	display: block;
	position: absolute;
	z-index: 0;
	width: 880px;
	height: 130px;
	text-align: center;
	animation-duration: 1.6s;
	animation-name: CaptionLeft;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.header_text {
	font-size: 40px;
	font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 880px;
    height: 130px;
    overflow: hidden;
}


.button {
	width: 300px;
	height: 60px;
	border-radius: 30px;
	cursor: pointer;
	background-color: #fcac45;
	margin-top: 40px;
	display: flex;
	justify-content: center;
} 

.button:hover {
	background-size: 100% 2px;
	color:  #fcac45;
}

.button span {
	line-height: 65px;
	color: #fff;
	font-size: 18px;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

.popup {
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}

.popup .contact_form {
	width: 100%;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: -30%;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

figure {
	background-position: center;
	min-height: 200vh;
	position: absolute; 
}

.button_Up {
	font-size: 3em;
	position: fixed;
	top: 90%;
	left: 2%;
	color: #518b8c;
	background-color: transparent;
	border: transparent;
	display: none;
}

/*******main********************************************************************/




main {
	width: 100%;
}

.features .container {
	display: flex;
	flex-direction: column;
}

.line {
	width: 100%;
    margin-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
}

.case {
	width: 1200px;
	display: flex;
	justify-content: space-around;
	font-size: 18px;
	flex-wrap: wrap;
    padding-bottom: 100px;
    text-align: center;
}

.cause {
	margin-top: 60px;
 	width: 350px;
 }

.cause h3 {
	width: 350px;
}

.cause img {
	height: 70px;
	display: block;
	margin: 0 auto 25px;
}

.suptitle{
    margin-top: 60px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.suptitle_line::after {
    content: "";
    width: 200px;
    height: 3px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 10px;
}

.icon {
	display: none;
}

.cause p {
    margin-top: 10px;
}

/*********************************************************************************pricelist*/

.pricelist {
	width: 100%;
	background-color:  #fcac45;
    padding-bottom: 100px;
    padding-top: 60px;
}


.pricelist .container {
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.table {
	margin-top: 60px;
	margin-bottom: 20px;
	display: flex;
	width: 60%;
	text-align: left;
	font-size: 20px;
}

.prc {
	width: 100%;
	line-height: 285%;
	align-items: center;
}

tbody {
	margin: auto;
	width: 90%;
}

tr {
	display: flex;
	justify-content: space-between;
}

.suBtitle a {
	color: black;
}

.suBtitle {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 20px;
	padding: 15px;
    margin-top: 60px;
}

/*******reviews_slider************************************************************************/

.reviews {
	display: flex;
	justify-content: space-between;
	background-color: black;
}

.reviews .container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container_slider {
	padding: 60px 0 0 0;
	min-width: 0;
}

.slider_item {
	display: flex;
	text-align: center;
}

.title_rev {
	color: white;
	display: flex;
	align-items: center;
	width: 100%;
	height: 150px;
	text-align: center;
	flex-direction: column;
	font-size: 20px;
	text-decoration: none;
	margin-bottom: 50px;
}

.title {
	margin: auto 0 20px 0;
	padding: 6px;
}

.name {
	color: white;
}

.reviews_text {
	color: white;
}

.conteiner_for_reviews {
	margin-top: 10px;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}


/*************Обратная связь**********************************************************************************/
.cotnact {
	background-image: url(../img/bg2.jpg);
}

.cotnact .container {
	display: flex;
	justify-content: space-around;
}

form {
	display: flex;
	margin-top: 60px;
	justify-content: center;
	flex-direction: column;
}


.contact_form {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

input {
	width: 100%;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
	margin-right: 0;
}

.form_inputs {
	display: flex;
	flex-direction: column;
}

.form_inputs p {
	display: flex;
	flex-direction: column;
	color: white;
}

textarea {
	width: 100%;
	height: 163px;
}

.prob {
	color: white;
}


.name_user {
}

input::placeholder {
	transition: 0.5s;
	color: #aaa;
}

textarea::placeholder {
	transition: 0.5s;
	color: #aaa;
}

input, textarea {
	border: 1px solid #999999;
}

input:focus::placeholder { 
	transform: translateX(-0px);
	color: transparent;
}

textarea:focus::placeholder {
	transform: translateX(-0px);
	color: transparent;
}

.button_block {
	display: flex;
	justify-content: flex-end;
}

input[type=submit] {
	width: 165px;
	height: 40px;
	background-color: #fcac45;
	color: #213036;
	margin-right: 0;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.block_info {
	width: 340px;
	height: 340px;
    background-color: #fcac45;
    outline: 3px solid white;
    outline-offset: -15px;
    box-shadow: 0 0 35px black;
}

.information {
	font-size: 20px;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: bold;
}

.text-block li {
	margin-left: 20px;
	margin-top: 17px;
}

li span {
	color: #00008b;
	font-size: 18px;
}

/*************************footer********************************************************************/

.social {
	height: 100%;
	width: 100%;
} 

footer {
	background-color: #fcac45;
	height: 70px;
	width: 100%;
}


/***************адаптив*****************/

@media screen and (max-width: 1580px) {
    .case {
        width: 100%;
    }
}

@media screen and (max-width: 1290px) {
	nav {
		width: 60%;
	}

	.table {
		margin-top: 10px;
		width: 80%;
	}

	.conteiner_for_reviews {
		width: 100%;
	}
}

@media screen and (max-width: 1020px) {
	.head .container {
		height: 50px;
		display: flex;
		flex-direction: column;
	}

	.topnav a {
		display: none;
	}

	.head__contacts {
		position: relative;
		top: 10px;
	}

	nav {
		position: absolute;
		right: 0;
		top: 10px;
	}

	.topnav a.icon {
		display: block;
		justify-content: center;
	}
}

@media screen and (max-width: 1000px) {
	.table {
		width: 80%;
	}

	.form_inputs {
		width: 100%;
	}
	.animate_line {
		display: none;
	}

	.header_text {
		width: 768px;
		font-size: 30px;
	}

	.table {
		width: 90%;
	}

	.text {
		width: 768px;
		animation: none;
	}

	.table {
		margin-top: 50px;
	}

	.cotnact .container {
		display: flex;
		flex-direction: column;
	}

	.contact_form {
		width: 100%;
	}

	form {
		margin-top: 40px;
	}

	.wrapper {
		display: flex;
		justify-content: flex-start;
		padding: 30px 0 30px 0;
	}

	.block_info {
		width: 320px;
		height: 320px;
	}
}

@media screen and (max-width: 930px) {
	.table {
		width: 80%;
	}
}

@media screen and (max-width: 868px) {
	.form_inputs {
		display: flex;
		flex-direction: column;
	}

	input {
		width: 100%;
	}
}

@media screen and (max-width: 770px) {
	.table {
		width: 90%;
	}

	.popup {
		width: 90%;
		font-size: 15px;
	}

	.close-popup {
	    position: absolute;
	    top: -30px;
	    right: 1%;
	    width: 23px;
	    height: 23px;
	    cursor: pointer;
	}	

	.button_Up {
		position: fixed;
		z-index: 3;
	}
}

@media screen and (max-width: 730px) {
	.table {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	form {
		width: 70%;
	}
} 

@media screen and (max-width: 430px) {
	.container {
		width: 90%;
	}

	.suptitle h2 {
		font-size: 25px;
	}

	.header_text {
		width: 320px;
		font-size: 20px;
	}

	.button {
		width: 200px;
		height: 50px;
	}

	.button span{
		font-size: 15px;
		display: flex;
		height: 100%;
		align-items: center;
	}

	.cause {
		font-size: 15px;
	}

	.text {
		width: 100%;
	}

	.title_rev p {
		font-size: 15px;
	}

	.suptitle p {
		font-size: 16px;
	}

	form {
		width: 100%;
	}

	.reviews_text {
		font-size: 15px;
	}

	.info-title {
		font-size: 25px;
		font-weight: 800;
	}

	.table {
		font-size: 16px;
	}

	.prc {
		width: 100%;
		line-height: 300%;
		align-items: center;
	}

	.wrapper {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 360px) {
	.prc {
		line-height: 200%;
		font-size: 13px;
	}

	h1 {
		font-size: 27px;
	}

	h2 {
		font-size: 25px;
	}

	.info-title {
		font-size: 20px;
		font-weight: 800;
	}

	.head__contacts {
		font-size: 15px;
	}

	h1 {
		font-size: 27px;
	}

	.prc {
		line-height: 300%;
		font-size: 13px;
	}

	.suptitle h2{
		font-size: 20px;
	}
	
	.case {
		font-size: 15px;
	}

	.suBtitle h2{
		font-size: 20px;
	}

	.title {
		font-size: 20px;
	}

	.title_rev p {
		font-size: 14px; 
	}

	.title {
		margin: auto 0 10px 0;
	}

	.name {
		font-size: 18px;
	}

	.reviews_text {
		font-size: 13px;
	}
}

@media screen and (max-width: 320px) {
	h2 {
		font-size: 25px;
	}

	.info-title {
		font-size: 20px;
		font-weight: 800;
	}

	.head__contacts {
		font-size: 15px;
	}

	h1 {
		font-size: 27px;
	}

	.prc {
		line-height: 300%;
		font-size: 13px;
	}

	.suptitle h2{
		font-size: 20px;
	}
	
	.case {
		font-size: 15px;
	}

	.suBtitle h2{
		font-size: 20px;
	}

	.title {
		font-size: 20px;
	}

	.title_rev p {
		font-size: 14px; 
	}

	.title {
		margin: auto 0 10px 0;
	}

	.name {
		font-size: 18px;
	}

	.reviews_text {
		font-size: 13px;
	}
}